* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    background: #000;
}
.navbar {
    width: 88%;
    margin: auto;   
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 30px;
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    font-family: 'STREET demo';
}
.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    font-family: 'STREET demo';
}
hr {
    border-color: rgb(160, 12, 12);
    margin-bottom: auto;
    border-top: none;
    width: 100%;
}
.letra {
    position: absolute;
    margin-left: 20px;
    bottom: 0px;
}
.tupac {
    bottom: 0px;
    position: absolute;
    right: 0px;
    height: 80%;
}
#inverter {
    transform: scaleX(-1);
}
footer {
    background: #000;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0px;
    text-align: center;
}